<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://nuget.dev.cloud.coveo.com/v3/index.json" />
    </config>
    <packageSources>
        <add key="ConnectorsPackages" value="https://nuget.dev.cloud.coveo.com/v3/index.json" />
    </packageSources>
</configuration>
